html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", serif;
}

/* nav bar */

  .link {
    font-size: 14px;
  }

  .link a{
    color: #1E1E1E;
    text-decoration: underline;
  }

  a:hover {
    color: #1E1E1E;
    text-decoration: underline;
  }

  .topnav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
  }

  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }

/* hero section */

  .herosection {
    width: 100%;
    height: auto;
    padding: 60px 100px 60px 100px;
    margin-top: 100px;
    
  }

  .project-description-section {
    width: 100%;
    height: auto;
    padding: 60px 20px;
    margin-top: 32px;
    
  }

  .title{
    line-height: 1.1;
    font-size: 64px;
    text-align: left;
    font-weight: bold;
  }

  .leftcol p{
    text-align: left;
    font-size: 20px;
    margin-top: 16px;
    width: 90%;
  }

  .myimage {
    width: 90%;
    height: auto;
    position: relative;
    top: -80px;
    transition: transform 1s, top 1s;
    cursor: url('img/cursor.png'), auto;
}

.myimage.clicked {
  transform: rotate(360deg);
}

  .dev{
    font-weight: lighter;
  }

  .buttongrey {
    margin-top: 24px;
    border-radius: 30px;
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    color: white;
    font-size: 14px;
    padding: 15px;
  }

  .buttongrey:hover {
    border: 1px solid #707070;
    background-color: #707070;
    color: white;
    font-size: 14px;
    padding: 15px;
  }

  .buttongrey:active {
    background-color: white;
    color: #1E1E1E;
    font-size: 14px;
    padding: 15px;
  }

  .portfolio {
    background-color: #1E1E1E;
    width: 100%;
    height: auto;
    padding: 80px 100px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
  }

  .portfolio-header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 32px;
    width: 100%;
  }

  .portfolio-header h2 {
    font-weight: bold;
  }

/* gallery flex */

    .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

    }

    .col-md-4 {
      flex: 1 0 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px);
      box-sizing: border-box;
      margin: 0 auto;
        }

    .col-md-4 img {
      object-fit: cover;
      width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 5px;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

    }

    .col-md-4 {
      flex: 1 0 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px);
      box-sizing: border-box;
      margin: 0 auto;
        }

    .col-md-4 img {
      object-fit: cover;
      width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 5px;
    }

    .gallery .col-md-4 {
      padding: 10px;
      background-color: white;
    }

    /* Image overlay - gallery image */

    .project-link {
      display: block;
      position: relative;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    .project-link:hover .overlay {
      opacity: 1;
    }

    .overlay-button {
      border: 1px solid white;
      color: black;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
    }

    .link-gallery {
      text-decoration: none;
      color: #1E1E1E;
      border: 1px solid #1E1E1E;
      border-radius: 3px;
      font-size: 14px;
      padding: 5px 10px;
      cursor: pointer;
    }


    .link-gallery:hover {
      text-decoration: underline;
    }

    /* main page gallery */

    .filter-gallery {
      display: flex;
      justify-content: end;
      gap: 15px;
    }

    .main-project {
      flex: 1 0 33.33%; /* Adjust this value based on the number of columns you want */
      box-sizing: border-box;
      padding: 10px;
    }

    .main-project img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
    }

    .main-project img:hover {
      opacity: 0.6;
      cursor: pointer;
      transform: scale(1);
    }

    /* mobile */
    @media (min-width: 1281px) and (max-width: 1600px) {
      .myimage {
        top: 20px;
      }
    }

    @media (max-width: 1280px) {
      .title{
        font-size: 48px;
      }

      .myimage {
        top: 0px;
      }

      .leftcol p {
        font-size: 16px;
      }

      .contact {
        font-size: 20px;
        text-align: left !important;
      }
    }

    @media (max-width: 1200px) {
      .title{
        font-size: 48px;
      }

      .myimage {
        top: 100px;
      }

      .leftcol p {
        font-size: 16px;
      }

      .contact {
        font-size: 20px;
        text-align: left !important;
      }
    }
    
    @media (max-width: 992px) {
      .title {
        font-size: 40px;
      }

      .leftcol p {
        font-size: 16px;
      }

      .contactme {
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0 !important;
        align-items: center;
        text-align: center;
      }
    
      .contact {
        font-size: 20px;
      }
    
      .letmeknow {
        font-size: 16px;
      }
    
      .socialmedia {
        padding-left: 0 !important;
        padding-right: 0 !important;
        gap: 16px !important;
      }
    
      .socialmedia img {
        width: 40px !important;
      }
  }

    @media (max-width: 820px) {

      .project-description-section{
        padding: 40px 20px 0px 20px;
      }

      .navbar {
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .herosection {
        padding: 20px;
        margin-top: 80px;
      }
    
      .title {
        font-size: 32px;
      }
    
      .leftcol p {
        font-size: 16px;
        width: 100%;
      }
    
      .myimage {
        top: 0px;
      }
    
      .portfolio {
        padding: 40px 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }

      .filter-gallery{
        justify-content: flex-start;
        padding-left: 20px;
        margin-top: 16px;
      }

      .gallery-filter-info{
        display: none;
      }
    
      .portfolio-header {
        display: block;
      }

      .portfolio-header h2 {
        font-weight: bold;
      }
    
      .gallery {
        gap: 10px;
      }
    
      .main-project {
        flex: 1 0 100%;
        max-width: 100%;
      }
    
      .contactme {
        flex-direction: column;
        padding-left: 20px !important;
        padding-right: 20px !important;
        align-items: center;
        text-align: center !important;
      }
    
      .contact {
        font-size: 16px;
        text-align: center !important;
      }
    
      .letmeknow {
        font-size: 16px;
      }
    
      .socialmedia {
        padding-left: 0 !important;
        padding-right: 0 !important;
        gap: 16px !important;
      }
    
      .socialmedia img {
        width: 40px !important;
      }

      footer {
        padding: 20px !important;
        display: block !important;
        text-align: center;
      }
      .footer-info {
        width: 100%;
      }
    }

    /* main page gallery */

    .main-gallery {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 20px;
      width: 100%;
    }

    .main-project {
      flex: 1 0 calc(33.33% - 20px); /* Three projects per row with 10px gap */
      max-width: calc(33.33% - 20px);
      box-sizing: border-box;
    }

    .main-project img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
    }

    /* mobile */

    @media (max-width: 768px) {
      .main-project {
        flex: 1 0 100%; 
        max-width: 100%;
      }
      .col-md-4{
        flex: 1 0 100%; 
        max-width: 100%;
      }
    }

  /* contact me section */

  .contact {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  .letmeknow {
    font-size: 24px;
  }

  .contactme {
    color: white;
    background-color: #1E1E1E;
    margin-top: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

.socialmedia {
  display: flex;
  justify-content: center;
  gap:30px;
  vertical-align: middle;
  align-items: center;
}

.socialmedia img {
  width: 50px;
  height: auto;
}

.rounded {
  vertical-align: -webkit-baseline-middle;
  margin-left: 20px;
}

/* footer */

footer {
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.footer-info{
  padding: 24px 0px;
}

/* Second page - project page */

.rectangle {
  width: 100%;
  height: auto; 
  border: 1px solid #1E1E1E; 
  border-radius: 3px;
  padding: 15px;
}

.github {
  color: #1E1E1E;
}

.github:hover {
  color: #1E1E1E;
  text-decoration: underline;
}



/* mobile */

@media (max-width: 767px) {
  .col-sd-12 {
      margin-bottom: 10px;
  }
}

.project-name{
  display: flex;
  gap: 24px;
}

.buttonback {
border-radius: 80px;
background-color: #1E1E1E;
border: 1px solid #1E1E1E;
color: white;
font-size: 14px;
padding: 15px 20px;
}

.buttonback:hover {
border: 1px solid #707070;
background-color: #707070;
color: white;
font-size: 14px;
padding: 15px 20px;
}

.buttonback:active {
background-color: white;
color: #1E1E1E;
font-size: 14px;
padding: 15px 20px;
}

.image-project{
width: 100%;
margin: 0 auto;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.image-project img {
max-width: 100%;
height: auto;
}

.project {
  margin-bottom: 40px;
}

.project-link {
  color: #1E1E1E;
  text-decoration: underline;
  font-weight: bold;
}

.project-link:hover {
  color: #1E1E1E;
  text-decoration: none;
  font-weight: bold;
}

.gallery-items {
  justify-content: space-evenly;
}

.gallery-filter {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.gallery-filter.active {
  background-color: #d1d1d1;
}

.gallery-filter-info {
  color: white;
  font-size: 12px;
  padding: 10px 0px;
}

.project {
  border: none;
  
}

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leftcol,
.myimage, .portfolio {
  animation: fadeIn 0.7s ease-in-out;
}

.row {
  overflow: hidden;
}
